<h2><%= @channel.name %></h2>
<p><%= @channel.cost %></p>
<p><%= @channel.spanish %></p>
<p> Number of Subscribers: <%= @channel.sub_count %></p>
<h4><%= link_to "Subscribers of #{@channel.name}", "/channels/#{@channel.id}/subscribers" %></h4>
<h4><%= link_to "Update Channel", "/channels/#{@channel.id}/edit" %></h4>