<h1>Customer Accounts</h1>

<h3><%= @customer.name  %></h3>
<% @accounts.each do |account| %>
  <section id="customer_accounts-<%= account.id  %>">
    <h3> Name: <%= account.acct_name %></h3>
    <p> <%= account.has_money %> </p>
    <p> <%= account.dollar_amount %> </p>
  </section>
<% end %>
<h4><%= link_to "Create Account", "/customers/#{@customer.id}/accounts/new"%></h4>
<%= link_to 'Alphabetize', "/customers/#{@customer.id}/accounts?order=alphabetize" %>

<%= form_with url: "/customers/#{@customer.id}/accounts", method: :get, local: true do |form| %>
  <%= form.label :dollar_amount %>
  <%= form.number_field :dollar_amount %>
  <%= form.submit 'Only return records with more than 3000 dollars' %>
<% end %>
