<h1>Customer</h1>

<h3> Name: <%= @customer.name %></h3>
<h5> Number of Accounts: <%= @customer.count_accounts %></h5>

<p> Active Account: <%= @customer.active_account %></p>
<p> Age: <%= @customer.age %></p>
<%= link_to 'Customer Accounts', "/customers/#{@customer.id}/accounts" %>
