<h2><%= @subscriber.name %></h2>
<p><%= @subscriber.age %></p>
<p><%= @subscriber.top_market %></p>
<h4><%= link_to "Update Subscriber", "/subscribers/#{@subscriber.id}/edit" %></h4>
<h4><%= link_to "Delete Subscriber", "/subscribers/#{@subscriber.id}", method: :delete %></h4>