<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
  <h3><%= link_to "Channels", "/channels" %></h3>
  <h5><%= link_to "Subscribers", "/subscribers" %></h5>
  <h3><%= link_to "Customers", "/customers" %></h3>
  <h5><%= link_to "Accounts", "/accounts" %></h5>
  </header>
    <%= yield %>
  </body>
</html>
