<h1>Account</h1>

<h3> Account Name: <%= @account.acct_name %> </h3>

<p> <%= @account.has_money %> </p>
<p> <%= @account.dollar_amount %> </p>
<%= link_to 'Update Account', "/accounts/#{@account.id}/edit" %>
<%= button_to 'Delete Account', "/accounts/#{@account.id}", method: :delete %>
